*.vsconfig
*.sln
*.csproj
Temp/
Logs/
/.vs
/Library/Artifacts
/Library/ShaderCache
/Library/PackageCache
/Library/Bee
Library/ArtifactDB
Library/SourceAssetDB
/Library/PackageCache
Library/SourceAssetDB
/Library/StateCache
/obj
Library/EditorInstance.json
Library/EditorSnapSettings.asset
Library/LastSceneManagerSetup.txt
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
UserSettings/Layouts/default-2022.dwlt
Library/ShaderCache.db
*.pid
Library/PackageManager/ProjectCache
Library/SceneVisibilityState.asset
Library/Search/transactions.db
Library/LastSceneManagerSetup.txt
Library/UIElements/EditorWindows/UnityEditor.InspectorWindow.pref
UserSettings/Layouts/default-2022.dwlt
*.fbx
Library/ilpp.pid
Library/SceneVisibilityState.asset
Assets/Script/PlayerControl/GameStates.meta
UserSettings/Layouts/default-2022.dwlt
/Library/Search
/Library/PlayerDataCache
*.png
*.jpg
*.mat
